@import 'normalize.css';
@import 'navbar.css';
@import 'login.css';
@import 'invoices.css';
@import 'invoice.css';
@import 'companies.css';
@import 'company.css';

html {
  font-size: 2vh;
  height: 100vh;
  overflow-x: hidden;
}

body {
  margin: 0px;
  min-height: 100vh;
  width: auto;
}

#root {
  height: 100vh;
}

p {
  margin: 0
}