.form-main {
  background: #e9e4e4;
  height: 95vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  gap: 1rem;
  padding: 50px 40px;
  border-radius: 25px;
  background: #FAFAFA;
  box-shadow: 3px 5px 25px #888888;
  width: 80%;
  max-width: 500px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

label, .form-label-custom {
  margin: 0;
  font-size: 1rem;
  color: rgb(75, 72, 72);
}

.form-input-custom {
  border-radius: 5px;
  border: 1px solid gray;
  height: 2rem;
}

.form-input-custom::placeholder {
  color: rgb(143, 46, 143);
  padding: .25rem;
}

.form-date {
  color: rgb(203, 159, 203);
  padding: .25rem;
}

.form-add-btn {
  cursor: pointer;
  font-size: .9rem;
  font-weight: 700;
  margin: 10px auto 0;
  padding: 12px 5px;
  width: 35%;
  border-radius: 100px;
  border: none;
  outline: none;
  color: white;
  background: linear-gradient(90deg, rgba(214,109,93,1) 0%, rgba(255,149,88,1) 71%);
}

.form-save-btn {
  cursor: pointer;
  font-size: .9rem;
  font-weight: 700;
  margin: 10px auto 0;
  padding: 12px 5px;
  width: 35%;
  border-radius: 100px;
  border: none;
  outline: none;
  color: white;
  background: linear-gradient(90deg, rgb(118, 183, 194) 0%, rgb(95, 126, 221) 71%);
}

.form-cancel {
  text-decoration: none;
  color: gray;
  font-size: .8rem;
}

.form-btn-container {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.form-status {
  font-size: 1.5rem;
}

.form-span-paid {
  font-weight: 700;
  color: green;
}

.form-span-unpaid {
  font-weight: 700;
  color: rgb(235, 57, 57);
}

.form-paid-btn {
  cursor: pointer;
  font-size: .9rem;
  font-weight: 700;
  margin: 10px auto 0;
  padding: 12px 5px;
  width: 35%;
  border-radius: 100px;
  border: none;
  outline: none;
  color: white;
  background: linear-gradient(90deg, rgb(118, 194, 130) 0%, rgb(150, 218, 121) 71%);
}

.form-not-paid-btn {
  cursor: pointer;
  font-size: .9rem;
  font-weight: 700;
  margin: 10px auto 0;
  padding: 12px 5px;
  width: 35%;
  border-radius: 100px;
  border: none;
  outline: none;
  color: white;
  background: linear-gradient(90deg, rgb(194, 118, 118) 0%, rgb(229, 93, 47) 71%);
}