.s-invoice-container {
  margin: 3rem;
}

.s-invoice-heading, .s-invoice-status {
  text-align: center;
}

.s-invoice-dates, .s-invoice-price {
  font-size: 1.25rem;
}

.s-invoice-dates {
  width: 17rem;
}

.s-invoice-span {
  font-weight: 700;
}

.s-invoice-row {
  display: flex;
  justify-content: space-between;
}

.s-invoice-pdf {
  text-align: center;
  margin-top: 2rem;
}

.s-invoice-update-btn {
  cursor: pointer;
  font-size: .9rem;
  font-weight: 700;
  padding: .25rem;
  width: 9rem;
  border-radius: 100px;
  border: none;
  outline: none;
  color: white;
  background: linear-gradient(90deg, rgb(202, 138, 219) 0%, rgb(166, 58, 199) 71%);
}